<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="deServer" connectionString="+H+lcKxIgrVE2L+cUMwrobJzRu34o0uX0WSrFF5kg9CNm6p81McqGNMZ8xqWy9gDBE7eLCnU1YXpcDFzzLYSAjS556RwrMLgFuWabnRQZj7TagpaCl7wFM6Z3KwoMnW8qoGM6gXLUq1QJfakEijV65hVk8ZaD7gthtREu1qIpqADWdhWnGKI19kKGaDNCnW6UO4+ZnlLejdXUv6OUG40n+X0ZzYZAhYxwe2wk3w/0P4=" />
    <add name="devServer" connectionString="+H+lcKxIgrVaE1EL0EJT65MQKrbUeJ5v9ywu7y9r+s4E025/zn+dA7/VB8gkHNH+jlyH22FWoRCALJbA7Pdx2v0FlRKz3nRm80IgCMOR+2DKTX7DRQUgkrz0lT8eTKyrdEDP4JSNRKaxj3N9MdqrkhK8oUZV/md7mmpeFQFWSA0l31a+kUMYtouZ80BTOXtW" />
  </connectionStrings>
</configuration>