<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="deServer" connectionString="+H+lcKxIgrXdWpHacD5/mgIoSEu9hkShBY+ojn5Y9yAIHmiLqiGwLNQ9fHdFyHywe72Wgjk+hHzsPS/RfVahvyAgsj4NKCBynNPjFVYmGRoCkKNSf7xdsMU8n5oayCcNbnnJQw+3htH3qYb3RXLMzBboNUfe5ylQQXjXZg5Z2bBJon/IFEQ7bPLAEbPCSZoK9nbkYHxrhLu6309QtslB0C+udu1idfbK" />
    <add name="devServer" connectionString="+H+lcKxIgrVaE1EL0EJT65MQKrbUeJ5v9ywu7y9r+s4E025/zn+dA7/VB8gkHNH+jlyH22FWoRCALJbA7Pdx2v0FlRKz3nRm80IgCMOR+2DKTX7DRQUgkrz0lT8eTKyrdEDP4JSNRKaxj3N9MdqrkhK8oUZV/md7mmpeFQFWSA0l31a+kUMYtouZ80BTOXtW" />
  </connectionStrings>
</configuration>